<h1> Online clothing store </h1>


<h2>Specification</h2>

{{>main}}

{{#if (option "separators")~}}
{{#if (option "no-gfm")}}

* * *

{{else}}

---

{{/if~}}
{{/if~}}
<p>© 2017 Bykov Denis All rights reserved.</p>