.blog-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 570px;
  &__img {
    margin-bottom: 30px;
  }
  &__title {
    margin: 0;
    margin-bottom: 15px;
    font: 700 #{$font-size-h3} / 1 $font-lato;
    color: $color-red;
    letter-spacing: 0;
    text-align: left;
  }
  &__topic {
    margin: 0;
    margin-bottom: 20px;
    font: 400 #{$base-font-size - 2px} / 1.87 $font-lato;
    letter-spacing: 0;
    text-align: left;
    opacity: .8;
  }
  &__description {
    margin: 0;
    margin-bottom: 30px;
    padding: 30px 0;
    line-height: 1.33;
    font-weight: 100;
    text-align: left;
    border-top: 1px solid $color-light-gray2;
    border-bottom: 1px solid $color-light-gray2;
    opacity: .7;
  }
  &__btn {
    margin: 0;
    width: 168px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: #{$base-font-size - 2px};
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid $base-font-color;
  }
}