.subscribe {
  position: relative;
  min-height: 250px;
  width: 100%;
  background: $color-gray url($base-url + 'bg-subscribe.jpg') 0 0 no-repeat;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    min-height: 250px;
    background-color: rgba(34, 37, 41, .7);
    content: '';
  }
  &__layout {
    @include wrapper;
    min-height: 250px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  &__item {
    position: relative;
    width: $page-layout-width;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &::before {
      display: block;
      width: 16px;
      height: 11px;
      content: '';
      position: absolute;
      top: 50%;
      left: 27px;
      z-index: 3;
      transform: translateY(-50%);
      background: url($base-url + 'icon-email.png') 0 0 no-repeat;
    }
  }
  &__title {
    display: block;
    padding-bottom: 25px;
    color: $base-font-color-inverse;
    text-transform: uppercase;
    font-weight: 100;
    text-align: left;
  }
  &__input {
    box-sizing: border-box;
    padding: 15px 0;
    padding-left: 81px;
    width: 765px;
    min-height: 51px;
    background-color: transparent;
    font: 100 #{$base-font-color - 5px} / 1 $font-opensans;
    text-transform: uppercase;
    border: 1px solid $base-font-color-inverse;
    color: $base-font-color-inverse;
  }
  &__btn {
    text-align: center;
    padding: 16.5px 0;
    min-height: 51px;
    box-sizing: border-box;
    width: 270px;
    font: 700 #{$base-font-color} / 1 $font-opensans;
    text-transform: uppercase;
    color: $color-dark-black;
    border: 0;
    background-color: $color-white;
    border-radius: 0;
    cursor: pointer;
  }
}