doctype html
html(lang="en")
    head
      meta(chartset="utf-8")
      title Brandly
    body
      header.main-header
        nav.main-nav
          a.main-nav__lnk(href="/")
            img.main-nav__logo(src="img/icon-logo.png" width="126" height="34" alt="Brandly")
          ul.main-nav__items
            li.main-nav__item
              a.main-nav__lnk(href="#") Home
            li.main-nav__item
              a.main-nav__lnk(href="#") Shop
            li.main-nav__item
              a.main-nav__lnk(href="#") Brands
            li.main-nav__item
              a.main-nav__lnk(href="#") Blog
            li.main-nav__item
              a.main-nav__lnk(href="#") About
            li.main-nav__item
              a.main-nav__lnk(href="#") Contact
      main.main
        .slider
          .slide
            .slide__card
              p.slide__row1 Spring / Summer Collection
              p.slide__row2 Up to 60% discount on new arrivals
              p.slide__row3 TRENDING NEW ITEMS,FROM CREATORS AROUND THE WORLD
              a.slide__btn(href="/") Shop now
          .slider__controls
            input#slide1.slider__control(type="radio" name="slider")
            label.slider__label(for="slide1") Slide1
            input#slide2.slider__control(type="radio" name="slider")
            label.slider__label(for="slide2") Slide2
            input#slide3.slider__control(type="radio" name="slider" checked)
            label.slider__label(for="slide3") Slide3
            input#slide4.slider__control(type="radio" name="slider")
            label.slider__label(for="slide4") Slide4
        section.latest
          .latest__layout
            h2.latest__title Latest Products
            ul.latest__items
              li.latest__item
                a.latest__lnk(href="#" aria-label="Men") Men
                  img.latest__img(src="img/img-men.jpg" width="370" height="418" alt="the men")
              li.latest__item
                a.latest__lnk(href="#" aria-label="Woman")
                  img.latest__img(src="img/img-woman.jpg" width="370" height="418" alt="the woman")
              li.latest__item
                a.latest__lnk(href="#" aria-label="Watches")
                  img.latest__img(src="img/img-watches.jpg" width="370" height="418" alt="the watches")
              li.latest__item
                a.latest__lnk(href="#" aria-label="40% Off New Autumn Collection")
                  img.latest__img(src="img/img-40percent-off.jpg" width="570" height="418" alt="40 percent off")
              li.latest__item
                a.latest__lnk(href="#" aria-label="MEGA SALE ON ITEMS FROM SPIRIT COLLECTION")
                  img.latest__img(src="img/img-megasale.jpg" width="570" height="418" alt="40 percent off")
        section.tranding
          h2.tranding__title Trending Items
          .tranding-slider
            .tranding-slider__slide
              img.tranding-slider__img(src="img/img-goods.jpg" width="570" height="570" alt="NATHAN STEWART JACKET")
              .tranding-slider__card
                h3.tranding-slider__title NATHAN STEWART JACKET
                p.tranding-slider__topic Summer/Autumn Collection
                p.tranding-slider__description.tranding-slider__description--p1
                  | Classic Nathan Stewart Jacket from his latest collection.
                  | This item is loved by many just because of it’s simle style.
                  | Simple lines,lovely texture,it suits almost everybody.
                  | It comes in six different colors,and all sizes.
                p.tranding-slider__description.tranding-slider__description--upper FASHION TIP:
                p.tranding-slider__description With this jacket,Nathan Stewart sunglasses go hand in hand!
                ul.tranding-slider__sizes
                  li.tranding-slider__size
                    a(href="#") ML
                  li.tranding-slider__size.tranding-slider__size--active
                    a(href="#") L
                  li.tranding-slider__size
                    a(href="#") XL
                  li.tranding-slider__size
                    a(href="#") XXL
                  li.tranding-slider__btn
                    a(href="#") Shop now
                  li.tranding-slider__btn
                    a(href="#") Size Guide
            .tranding-slider__controls
              input#slide5.tranding-slider__control(type="radio" name="tranding-slider")
              label.tranding-slider__label(for="slide5") Slide5
              input#slide6.tranding-slider__control(type="radio" name="tranding-slider")
              label.tranding-slider__label(for="slide6") Slide6
              input#slide7.tranding-slider__control(type="radio" name="tranding-slider" checked)
              label.tranding-slider__label(for="slide7") Slide7
              input#slide8.tranding-slider__control(type="radio" name="tranding-slider")
              label.tranding-slider__label(for="slide8") Slide8
FASHION TIP:
With this jacket,Nathan Stewart sunglasses go hand in hand!
      footer.main-footer
        .main-footer__layout