doctype html
html(lang="en")
    head
      meta(chartset="utf-8")
      title Brandly
    body
      header.main-header
        .main-header__layout
      main.main
        .main__layout
      footer.main-footer
        .main-footer__layout