@import './normalize';
@import './variables';
@import './fonts';
@import './mixins';

@import './blocks/main-header';
@import './blocks/main-nav';
@import './blocks/slider';
@import './blocks/slide';

body {
  font-family: $font-opensans;
  font-size: $base-font-size;
  color: $base-font-color;
  width: 100%;
}

a {
  font-family: $font-opensans;
  font-size: $base-font-size;
  color: $base-font-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.fake {
  background-image: url($base-url + 'icon-logo.png');
}